.venv
__pycache__
*.pyc
*.jpg
*.png
*.rar
*.tar
*.gz
*.zip
*.ipynb
*.jpeg
lib/
*.log
*.pt
*.xlsx
*.cach

# .txt
!*.txt
*.txt
requirements.txt

*.plk

# .html
# !*.html
# *.html
# frontend_call_api.html
# frontend_demo.html
*/page_src/*
dataset/collect_data/collect_image_temple_to_evaluate/page_src/

cookie/
*/backup/
*/classification/
*/debug/
*/img_crawl_fb/
*/log/
*/subfolder/



.vscode/*

my_ocr/pp_ocr/download/*
my_ocr/pp_ocr/download/ch_PP-OCRv3_det_infer/*
my_ocr/pp_ocr/download/ch_PP-OCRv3_det_distill_train/*
translate/__pycache__/hvdict.cpython-311.pyc
translate_to_modern_vietnamese/__pycache__/translate_to_modern_vietnamese.cpython-311.pyc
pylette/__pycache__/color_extraction.cpython-311.pyc
*.log
!image/detail_postprocess.png
!image/fullow_str_temple.png
!image/input_img.jpg
!image/output_img.png
!image/UI.png

!input/
input/*
!input/hoang_phi_cau_doi.jpg

!output
output/*
!output/hoang_phi_cau_doi.jpg
dataset/collect_data/collect_image_temple_to_evaluate/load_cookie.py
dataset/collect_data/collect_image_temple_to_evaluate/my_cookie.pkl
dataset/labeling/sac_phong/sua_nhan_sai/Sac Phong Trieu Nguyen.pdf
dataset/labeling/sac_phong/Sac Phong Trieu Nguyen.pdf
