.venv
__pycache__
*.pyc
*.jpg
*.png
*.rar
*.tar
*.gz
*.zip
*.ipynb
lib/
*.log

.vscode/*

my_ocr/pp_ocr/download/*
my_ocr/pp_ocr/download/ch_PP-OCRv3_det_infer/*
my_ocr/pp_ocr/download/ch_PP-OCRv3_det_distill_train/*
translate/__pycache__/hvdict.cpython-311.pyc
translate_to_modern_vietnamese/__pycache__/translate_to_modern_vietnamese.cpython-311.pyc
pylette/__pycache__/color_extraction.cpython-311.pyc
*.log
!image/detail_postprocess.png
!image/fullow_str_temple.png
!image/input_img.jpg
!image/output_img.png
!image/UI.png

!input/
input/*
!input/hoang_phi_cau_doi.jpg

!output
output/*
!output/hoang_phi_cau_doi.jpg